@model IEnumerable<AviaSite.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("GetFlight", "Tickets"))
{
    @Html.DropDownList("FlightId", String.Empty)
    @Html.TextBox("Date", DateTime.Today)
    <input type="submit" value="Get Flight" />
}

    <p>
        @using (Html.BeginForm("GetReport", "Tickets"))
        {
            @Html.Label("Start date: ")
            @Html.TextBox("start", DateTime.Today)
            @Html.Label("End date: ")
            @Html.TextBox("end", DateTime.Today)
            <input type="submit" value="Get Report" />
        }
    </p>
<p style="color:red">
    @TempData["NoTickets"]
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flight.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.Plane)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.To)
            </td>
            <td>
                @Html.ActionLink(item.Flight.Plane.ToString(), "Details", "Planes", new { id = item.Flight.Plane }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TicketId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TicketId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TicketId })
            </td>
        </tr>
    }

</table>
