@model IEnumerable<AviaSite.Flight>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@{
    string from = string.Empty, to = string.Empty;
    DateTime date = DateTime.Today;
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("GetFlight", "Home"))
{
    @Html.Label("From: ")
    @Html.TextBox("From")
    @Html.Label("To: ")
    @Html.TextBox("To")
    @Html.Label("Date: ")
    @Html.TextBox("Date", DateTime.Today)

    <input type="submit" value="Get Flight!">
}

@using(Html.BeginForm("TodayFlights", "Home"))
{
    <input type="submit" value="Today Flights" />
}
    <p style="color: red">
        @TempData["NoResult"]
    </p>
<p></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plane1.PlaneNum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.ActionLink(item.Plane1.PlaneNum.ToString(), "Details", "Planes", new { id = item.Plane1.PlaneNum }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.flight1 }) |
                @Html.ActionLink("Details", "Details", new { id = item.flight1 }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.flight1 })
            </td>
        </tr>
    }

</table>
