@model IEnumerable<AviaSite.Plane>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InFlight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InFlight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PlaneNum }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlaneNum }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlaneNum })
        </td>
    </tr>
}

</table>
